body {
	margin-left: 0px;
    margin-right: 0px;
}
select:required:invalid{
	color:gray;
	
}
option[value=""][disabled]{
	display:none;
}

option{
	color:black;
}



#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
#formStyle{
  position: relative;
  text-align: center;
	margin-right: 35%;
	margin-left: 30%;
	width: 200%;
 }

.inputStyle{
  border-radius: 5px;
  margin: 0px;
	height: 50px;
	font-size: 0.8em;
	border: 1px solid #E6E6E6;
	width:300%;
}

.divStyle{
  text-align: center;
  font-size: 3.2em;
  font-weight: bold;
  font-family: calibri;
  color:white;
  margin-top: 100px!important;
  position: relative;
  text-shadow: 0 0 15px black;

}


.buttonStyle{
      width: 300%;
      margin: 15px 0 15px 1px;
      height: 50px;
      border-radius: 0px;
      background-color: #09C;
      color: #FFF;
      border: medium none;
      font-size: 1.0em;
      font-weight: bold;
    }

.span_style {
      border-radius: 5px;
      font-size: 0.8em;
      text-align: center;
      position: relative;
      top: 5px;
      display: block;
      width: 200px;
      padding: 7px 10px;

      margin-left: auto;
      margin-right:auto;
    }
	
	#header{
	height:60px;
	width: 100%;
	margin-left: auto;
    margin-right:auto;
	
	border:1px solid transparent;
	background-color:orange;
	border-color:red;
		margin-top:-35px;
border-top-width:0px;
border-bottom-width:2px;
border-left-width:0px;
border-right-width:0px;



	}
	
	
	
	#main{
		margin-top:35px;
	}
#header p{
	    top: 15%;
    position: relative;
	text-align:center; font-family:Constantia; font-size:35px; font-weight:bold; color:white;  
}

#left{
	float: left;
	width: 20%;
	height: 100vh;
	position: fixed;
	top: 50px;
    left: 0px;
	z-index: 800;
}
#container{
	top: 60px;
	width: 60%;
	float: left;
	left: 20%;
	    position: relative;
}
#right{
	z-index: 800;
	float:right;
	top: 50px;
	width: 20%;
	height: 100vh;
	position: fixed;
    right: 0px;
}
#headercont{
	font-family:Constantia; font-size:18px; font-weight:bold; color:white;
	background-color:orange;
	position: fixed;
    top: 0px;
    width: 100%;
	z-index: 999;
}

#headercont a{color:white;}